@import "../../../assets/scss/widths";

.checksSec {
  padding: 1em 3vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  @media (max-width: $break-md) {
    margin-bottom: 4em;
  }
}

.checksBlockTop,
.checksBlockBottom {
  position: relative;
  width: 75%;
  border: 1px solid var(--main-blue);
  @media (max-width: $break-md) {
    width: 100%;
    border: none;
  }
}

.checksBlockTop::before,
.checksBlockBottom::before {
  content: "";
  position: absolute;
  left: -1em;
  bottom: -1em;
  width: 19em;
  height: 20em;
  background-image: url("/assets/img/check.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  @media (max-width: $break-md) {
    width: 10em;
    height: 10em;
    left: 60%;
    top: -30%;
    z-index: 4;
  }
}

.checksBlockBottom::before {
  @media (max-width: $break-md) {
    width: 7.2em;
    height: 7.2em;
    left: 70%;
    top: -20%;
    z-index: 4;
  }
}

.checksBlockTop {
  padding-bottom: 1.5em;
}

.checksBlockBottom {
  @media (min-width: $break-md) {
    transform: translateX(40%) translateY(-3.7em);
  }
}

.checksTitle {
  width: 75%;
  position: relative;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 1.222em;
  border-bottom: 1px solid var(--main-blue);
  z-index: 3;
  @media (min-width: $break-md) {
    width: 60%;
    height: 3em;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--main-blue);
    padding-left: 2em;
  }
}

.checksList {
  position: relative;
  width: 100%;
  z-index: 5;
  padding: 1em 0 1em 0.5em;
  @media (min-width: $break-md) {
    padding: 1em 1vw 3em 5vw;
    z-index: 3;
  }
}

.checksLi {
  list-style: none;
  font-size: 1em;
  font-family: "Gilroy";
  font-weight: 500;
  display: flex;
  align-items: center;
}

.checksLi::before {
  content: "\2022";
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  width: 0.7em;
  color: var(--main-blue);
  margin-left: -0.5em;
}
