.textBlock {
  width: 40%;
}
.textTitle, .text {
  font-family: 'Gilroy';
  font-size: 1em;
}
.textTitle {
  padding-left: 4vw;
  font-weight: 500;
}
.text {
  font-weight: 600;
  margin-top: 1.5em;
  line-height: 1.4em;
}