@import "../../../assets/scss/widths";

%Button {
  display: inline-block;
  padding: 0.4em 1em;
  min-width: 7em;
  border-radius: 0.3em;
  font-size: 1.2em;
  font-family: "Gilroy";
  border-radius: 20px;
  transition: 0.3s background-color;
  cursor: pointer;
  border: none;
  outline: none;
  @media (min-width: $break-md) {
    border-radius: 0.55em;
  }
}

.filledButton {
  @extend %Button;
  background-color: var(--main-blue);
  color: var(--btn-text-color);
  transition: 0.3s background-color;
  &:hover {
    background-color: var(--btn-hover-bg-color);
  }
}

.plainButton {
  @extend %Button;
  background-color: transparent;
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
  transition: 0.3s text-shadow;
  &:hover {
    text-shadow: 0 0 10px var(--main-blue);
  }
}
