@import "../../assets/scss/colors";

.inputWrap {
  width: 100%;
  .Input {
    width: 100%;
    padding: 0.6em 1em;
    border-radius: 0.5em;
    background-color: $white;
    color: $text-color;
    font-size: 1em;
    font-family: "Gilroy";
    border: 1px solid $main;
    outline: none;
  }
  .filledInput {
    @extend .Input;
    background-color: $pale-main-blue;
    color: $pale-text-color;
    border: none;
  }
  .inputError {
    color: $red;
    font-family: "Gilroy";
    font-size: 0.666em;
    font-weight: 500;
  }
  .seePassword {
    position: absolute;
    right: 0;
    top: 40%;
    width: 1.3em;
    height: 1.3em;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
