@import "../../assets/scss/colors";

.starsWrap {
  position: relative;
  width: 7.8em;
  height: 1.1em;
  margin: 0.5em;
  overflow: hidden;
  .stars {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/stars.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
  }
  .filling {
    position: absolute;
    height: 100%;
    background-color: $main;
    top: 0;
    left: 1px;
    z-index: 2;
  }
}
