$main: #00c6c6;
$pale-main-blue: rgba(0, 198, 198, 0.3);
$red: #cb2026;
$blue: #365c94;
$warning: #ff7c7c;
$grey: #e5e5e5;
$grey-more: #777777;
$grey-most: #333333;
$white: #ffffff;
$bg-darker: #f7f7f7;
$link-color: #6a6dd6;
$text-color: #000;
$pale-text-color: #4c4c4c;
$label-color: #c4c4c4;
$pale-blue-color: #80e3e3;
$pale-pale-blue-color: rgba(0, 198, 198, 0.2);
