$break-xs: 560px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-lm: 1100px;
$break-xl: 1200px;
:export {
  break-xs: $break-xs;
  break_sm: $break-sm;
  break_md: $break-md;
  break_lg: $break_lg;
  break_lm: $break-lm;
  break_xl: $break_xl;
}
