.serviceCatBlock {
  width: 11.6em;
  height: 11.6em;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--main-blue);
  padding: 1.5em 0;
  margin: 0.5em;
}
.serviceCatImg {
  width: 50%;
  height: 72%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}
.serviceCatTitle {
  font-family: 'Gilroy Extra Bold';
  color: var(--text-color);
  font-size: 1em;
}