@import "../../../../assets/scss/widths";

.Column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  flex: 1 1 0px;
  padding: 0px;
  @media (min-width: $break-sm) {
    padding: 0px 1rem;
  }
  & div {
    margin: 0.1rem 0rem;

    @media (min-width: $break-sm) {
      margin: 0.3rem 0rem;
    }
  }
}

.Copyright {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  // text-align: center;
  color: #ffffff;
  @media (min-width: $break-md) {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
}
