.Column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.Copyright {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}
