@import "../../../assets/scss/colors";

.masterServicesWrap {
  width: 100%;
  font-family: "Gilroy";
  .title {
    font-size: 1.1em;
    color: $pale-text-color;
  }
  .masterServices {
    margin-top: 1em;
    & > li {
      & > span:nth-of-type(3) {
        font-weight: 600;
      }
      justify-content: space-between;
      & > button {
        font-size: 1em !important;
      }
    }
  }
}
