@import '../../../../assets/scss/widths';

.logo {
    width: 10em;
    height: 3.5em;
    background-image: url('/assets/img/logo-01.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    @media (max-width: $break-sm) {
        height: 2.5em;
        width: 8em;
    }
}
