@import "../../assets/scss/colors";
@import "../../assets/scss/widths";

.pagesWrap {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy";
  .pageButton {
    background: none;
    border: none;
    outline: none;
    font-size: 0.85em;
    color: $label-color;
    cursor: pointer;
  }
  .pagesNumbers {
    display: flex;
    justify-content: center;
    margin: 0 2em;
    & > li {
      width: 1.6em;
      height: 1.6em;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      font-size: 1em;
      color: $text-color;
      border-radius: 50%;
      margin: 0 0.3em;
      cursor: pointer;
    }
    .activePage {
      background-color: $main;
      color: $white;
    }
  }
}
