@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/fonts";

.BlockTitle {
  font-family: $Gilroy; //MONT SHOULD BE HERE
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
