.topHeader {
    width: 100%;
    background-color: var(--header-bg-color);
    padding: 0 3vw;
    display: flex;
    justify-content: center;
    .container {
        height: 5em;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        @media (min-width: 768px) {
              width: 850px;
        }
        @media (min-width: 992px) {
            width: 1070px;
        }
        @media (min-width: 1200px) {
            width: 1300px;
        }
    }
}