@import "../../../../assets/scss/common";
@import "../../../../assets/scss/widths";

.GuarantiesBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;

  @media (min-width: $break-md) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7.5rem;
  }
}
