@font-face {
    src: url('../fonts/gilroy/Gilroy-Light.otf');
    font-family: 'Gilroy';
    font-weight: bold;
}

@font-face {
    src: url('../fonts/gilroy/Gilroy-ExtraBold.otf');
    font-family: 'Gilroy Extra Bold';
}