@import "../../assets/scss/colors";
.reviewWrap {
  margin: 1.5em 0;
}
.reviewBody {
  width: 100%;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1fr 8fr 2fr;
  grid-gap: 0.5em 0.5em;
  font-family: "Gilroy";
  .authorAvatar {
    display: flex;
    grid-area: 1/1/3/2;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .authorName {
    display: flex;
    grid-area: 1/2/2/3;
    font-weight: 700;
    color: $pale-text-color;
    .date {
      margin-left: 1em;
      color: $label-color;
      font-weight: 400;
    }
  }
  .rating {
    display: flex;
    grid-area: 1/3/2/4;
  }
  .text {
    display: flex;
    grid-area: 2/2/3/4;
  }
}
