.serviceSec {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 6em;
}
.serviceList {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}