@import "../../../../assets/scss/common";
@import "../../../../assets/scss/widths";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

  @media (min-width: $break-lg) {
    margin-bottom: 200px;
  }
}

.Steps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 5.625rem;
  @media (min-width: $break-lg) {
    flex-direction: row;
  }
}
