@import "../../assets/scss/widths";

.UserProfile {
  display: flex;
  @media (max-width: $break_lm) {
    flex-flow: column;
  }
  .profileContent {
    padding: 1em 5em 5em 1em;
    width: calc(100% - 16.9em);
    min-height: 80vh;
    @media (max-width: $break_lm) {
      width: 100%;
      padding: 1em;
    }
    @media (max-width: $break_sm) {
      padding: 0.5em;
    }
  }
}
