.inputWrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 0.8em 0;
  .inputLabel {
    color: var(--label-color);
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 1em;
  }
  .regInput {
    width: 100%;
    color: var(--text-color);
    font-family: "Gilroy";
    font-size: 1.333em;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid var(--pale-text-color);
    outline: none;
    padding: 0 0 0.15em 0;
    transition: 0.3s padding;
    &:focus {
      padding: 0.4em 0 0.15em 0;
    }
    &::placeholder {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      // text-align: center;
      color: #c4c4c4;
    }
  }
  .inputError {
    color: var(--error-color);
    font-family: "Gilroy";
    font-size: 0.666em;
    font-weight: 500;
  }
  .seePassword {
    position: absolute;
    right: 0;
    top: 40%;
    width: 1.3em;
    height: 1.3em;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
