@import "../../../assets/scss/colors";
@import "../../../assets/scss/widths";

.scheduleWrap {
  width: 100%;
  .title {
    display: flex;
    align-items: center;
    & > span {
      display: flex;
      width: 1.1em;
      height: 1.1em;
      background-image: url("/assets/img/icons/workinghours.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 0.5em;
    }
  }
  & > ul {
    margin-top: 0.5em;
    padding-left: 1.6em;
    & > li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $pale-text-color !important;
      padding: 0.5em 0;
      .times {
        width: 9em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .timeSep {
          width: 2.5em;
          height: 1px;
          background-color: $label-color;
        }
      }
    }
  }
}
