@import "../../../assets/scss/widths";

.Fatality {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DropZone {
  width: 165px;
  height: 165px;
  background: #ffffff;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  user-select: none;
  & div {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: block;
    color: #333333;
    &:first-child {
      line-height: 4rem;
      font-size: 4rem;
    }
  }
}
