.firstScreenSec {
    margin-top: 0.2em;
    height: 37em;
    display: flex;
    flex-flow: column wrap;
}

.titleBlock {
    width: 50%;
    padding-top: 4em;
}

.mainTitle {
    font-family: 'Gilroy Extra Bold';
    color: var(--text-color);
    font-size: 2.2em;
}

.secondaryTitle {
    font-family: 'Gilroy';
    color: var(--text-color);
    font-size: 1.222em;
    margin-top: 1em;
}

.searchForm {
    width: 35%;
    height: 9em;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2em;
}

.imageBlock {
    width: 60%;
    height: 37em;
}

.girlImg {
    position: relative;
    width: 100%;
    height: 80%;
    background-image: url('/assets/img/girl.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.girlImg::after {
    content: '';
    position: absolute;
    width: 92%;
    height: 25%;
    left: -2em;
    top: 90%;
    background-image: url('/assets/img/hot.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
