@import '../../../../assets/scss/widths';

.mobileBar {
  display: flex;
  position: relative;
  width: 100%;
  height: 2.5em;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8em;
  z-index: 3;
  background-color: var(--main-blue);
}

.menuBtn, .menuOpenBtn {
  width: 1.2em;
  height: 1.3em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.menuOpenBtn {
  background-image: url('/assets/img/icons/menu.png');
  background-size: auto;
  transition: 0.3s transform;
}

.menuItems {
  width: 28%;
  display: flex;
  justify-content: space-around;
  @media (max-width: $break-sm) {
    width: 40%;
  }
}