@import '../../../../assets/scss/widths';

.searchBannerSec {
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 2.5em;
  padding-top: 1em;
  background-image: url('/assets/img/banner-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  margin-bottom: 4em;
  @media (max-width: $break-md) {
    padding: 0.5em;
    padding-bottom: 2em;
  }
}
.searchBannerTextWrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  @media (min-width: $break-md) {
    padding: 0 6vw;
  }
}