@import "../../assets/scss/colors";

.SubTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5em 0;
  font-size: 1em;
  color: $pale-text-color;
  font-family: "Gilroy";
  font-weight: 400;
}
