.checkBoxLabel {
  display: block;
  width: 1.3em;
  height: 1.3em;
  border-radius: 10%;
  border: 1px solid var(--main-blue);
  margin-right: 0.5em;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkBoxLabelRed {
  display: block;
  width: 1.3em;
  height: 1.3em;
  border-radius: 10%;
  border: 1px solid var(--error-color);
  margin-right: 0.5em;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  cursor: pointer;
}
