@import "../../../../assets/scss/common";
@import "../../../../assets/scss/widths";
@import "../../../../assets/scss/fonts";

.RegisterNowBlock {
  margin-bottom: 64px;
  @media (min-width: $break-xl) {
    margin-bottom: 200px;
  }
  & .container {
    padding: 0px;
  }
}

.MainCategory {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  @media (min-width: $break-sm) {
    margin-top: 2rem;
  }
  @media (min-width: $break-xl) {
    margin-top: 100px;
    flex-direction: row;
  }
}

.girl {
  flex: 1 1 0px;
  margin-left: auto;
  width: 70%;
  & img {
    width: 100%;
  }
}

.quote {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  // margin: 0px 1rem;
  & > span {
    position: relative;
    display: block;
    text-align: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    @media (max-width: 400px) {
      max-width: 40%;
    }
    @media (min-width: 400px) {
      max-width: 30%;
    }
    @media (min-width: $break-sm) {
      padding: 1rem;
    }
    @media (min-width: 545px) {
      padding: 0rem 1.5rem;
    }
    @media (min-width: $break-md) {
      max-width: 30%;
    }
    @media (min-width: $break-lg) {
      font-size: 16px;
      line-height: 20px;
      max-width: 30%;
      padding: 1.5rem;
    }
    @media (min-width: $break-xl) {
      font-size: 18px;
      line-height: 22px;
      max-width: 60%;
      padding: 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: -65%;
      left: -65%;
      width: 225%;
      height: 225%;
      background: url("/assets/img/hot-quote.png");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      @media (min-width: $break-sm) {
        background-size: 45%;
      }
      @media (min-width: $break-md) {
        background-size: 40%;
      }
      @media (min-width: $break-xl) {
        background-size: 50%;
      }
    }
  }
  @media (min-width: $break-xl) {
    margin-right: 0.5rem;
    align-items: flex-end;
  }
}

.Description {
  margin-left: 0px;
  margin-right: 1rem;
  margin-top: auto;
  flex: 1 1 0px;
  text-align: right;
  @media (min-width: $break-xl) {
    text-align: left;
    margin-left: 1rem;
    margin-right: 0px;
    align-self: end;
  }
}

.name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0.5rem 0rem;
}

.profession {
  margin: 0.5rem 0rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.story {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  max-width: 70%;
  margin-left: auto;
  @media (min-width: $break-xl) {
    margin-left: 0;
  }
}

.ButtonsCategory {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  padding: 0rem;
  & div {
    width: auto;
    margin: 1rem 0px;

    @media (min-width: $break-xl) {
      margin: 0px 1rem;
      width: 100%;
    }
  }
  & button {
    @media (min-width: $break-xl) {
      width: 100%;
      flex: 1 1 0px;
    }
  }
  @media (min-width: $break-sm) {
    padding: 0rem 2rem;
  }
  @media (min-width: $break-md) {
    padding: 0rem 5rem;
  }
  @media (min-width: $break-lg) {
    padding: 0rem 10rem;
  }
  @media (min-width: $break-xl) {
    flex-direction: row;
    padding: 0rem 14.5rem;
  }
}
