@import "../../../assets/scss/widths";

.langBlock {
  width: 7em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  @media (max-width: $break-md) {
    width: 70%;
    margin: 3em auto 0 auto;
  }
}
