.BeautyColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainLogoBlock {
  margin: 0rem 0rem 2rem;
  display: block;
  width: 100%;
  & img {
    width: 100%;
  }
}

.Contacts {
  display: block;
  display: flex;
  justify-content: space-around;
  width: 100%;
  & a {
    display: block;
  }
}
