@import "../../assets/scss/colors";
@import "../../assets/scss/widths";

.FaveItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $main;
  padding: 0 0.5em 1em 0.5em;
  margin-bottom: 2em;
  @media (max-width: $break_sm) {
    padding: 0;
  }
  .faveImg {
    width: 25%;
    height: 8em;
    background-image: url("/assets/img/fave-img.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: $break_md) {
      display: none;
    }
  }
  .faveContent {
    width: 73%;
    display: flex;
    flex-flow: column;
    font-family: "Gilroy";
    @media (max-width: $break_md) {
      width: 100%;
    }
    .masterData {
      display: grid;
      width: 85%;
      grid-template-rows: 2;
      grid-template-columns: 4;
      grid-gap: 0.8em;
      align-items: center;
      padding-bottom: 0.5em;
      @media (max-width: $break_sm) {
        grid-template-rows: 3;
        grid-template-columns: 3;
        grid-gap: 0 0.5em;
        align-items: flex-start;
      }
      @media (max-width: $break_xl) {
        width: 100%;
      }
      .avatar {
        display: grid;
        grid-area: 1/1/3/2;
        width: 4em;
        height: 4em;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width: $break_sm) {
          width: 5.5em;
          height: 5.5em;
          grid-area: 1/1/4/2;
        }
      }
      .name {
        display: grid;
        grid-area: 1/2/2/3;
        font-size: 1.1em;
      }
      .rate {
        display: grid;
        grid-area: 1/3/2/4;
        @media (max-width: $break_sm) {
          grid-area: 2/2/3/3;
        }
      }
      .address {
        display: flex;
        grid-area: 2/2/3/4;
        color: $pale-text-color;
        @media (max-width: $break_sm) {
          grid-area: 3/2/4/3;
        }
        & > span {
          width: 1em;
          height: 1em;
          background-image: url("/assets/img/icons/map-marker.png");
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 0.5em;
        }
      }
      .deleteFave {
        display: grid;
        grid-area: 1/4/3/5;
        border: none;
        outline: none;
        width: 1.7em;
        height: 1.7em;
        background-image: url("/assets/img/icons/favs-filled.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $white;
        cursor: pointer;
        @media (max-width: $break_sm) {
          grid-area: 1/3/4/4;
        }
        @media (max-width: $break_sm) {
          width: 2em;
          height: 2em;
        }
        &::before {
          content: "";
          height: 4em;
          width: 1px;
          background-color: $label-color;
          transform: translate(-2em, -25%);
          @media (max-width: $break_sm) {
            display: none;
          }
        }
      }
    }
    .masterServices {
      width: 100%;
      padding: 1em 0;
      & > li {
        @media (max-width: $break_sm) {
          justify-content: space-between;
        }
        & > span:nth-of-type(3) {
          @media (max-width: $break_sm) {
            width: 16%;
          }
        }
        & > button {
          font-size: 0.9em !important;
        }
      }
    }
    .masterLink {
      width: 50%;
      margin: 0 0 0.5em 45%;
      display: flex;
      align-items: center;
      font-size: 0.9em;
      color: $main;
      text-decoration: none;
      transition: 0.3s padding;
      @media (max-width: $break_sm) {
        width: 100%;
        margin-left: 0;
        font-size: 1em;
      }
      & > span {
        font-size: 1.3em;
        padding-left: 0.2em;
      }
      &:hover {
        padding-left: 1em;
      }
    }
  }
}
