@import "../../../assets/scss/widths";
@import "../../../assets/scss/fonts";

.SettingBlock {
  padding: 2rem 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #4c4c4c;
  & .select {
    width: 100%;
    @media (min-width: $break-sm) {
      width: 60%;
    }
    @media (min-width: $break-md) {
      width: 50%;
    }
  }
  & > .Input {
    margin-bottom: 2rem;
  }
  & .SettingsBlockTitle {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4c4c4c;
    margin-bottom: 2rem;
    @media (min-width: $break-md) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 1rem;
    }
  }
}
