.blueInput {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: var(--pale-main-blue);
    color: var(--pale-text-color);
    font-size: 1em;
    font-family: 'Gilroy';
    border: none;
    outline: none;
}
