@import "../../../assets/scss/colors";
@import "../../../assets/scss/widths";

.profileWrap {
  width: 100%;
  .inputsGroup {
    padding: 1em 45% 1em 0;
    border-bottom: 1px solid $main;
  }
  .bioSection {
    padding: 1em 0;
    border-bottom: 1px solid $main;
    .desc {
      font-size: 0.9em;
      padding-right: 20%;
      margin-bottom: 1.5em;
    }
    & > textarea {
      width: 100%;
      border: 1px solid $main;
      border-radius: 0.5em;
      padding: 0.7em;
      font-size: 1em;
      outline: none;
      resize: vertical;
    }
  }
  .miniTitle {
    padding-bottom: 1em;
    font-size: 1em;
    color: $text-color;
  }
  .selectWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 15em;
    }
    & > label {
      font-size: 1rem;
      color: $grey-more;
      font-weight: 800;
    }
  }
  .radiosGroup {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 0.8em;
    height: 4em;
  }
}
