@import "../../../assets/scss/widths";

.navBar {
  width: 100%;
  padding: 0.8em 0;
  font-size: 1em;
  display: flex;
  justify-content: center;
  background-color: var(--main-blue);
  transition: 0.3s transform;
  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    @media (min-width: 768px) {
      width: 850px;
    }
    @media (min-width: 992px) {
      width: 1070px;
    }
    @media (min-width: 1200px) {
      width: 1300px;
    }
  }
  @media (max-width: $break-md) {
    position: absolute;
    top: 7.5em;
    width: 47%;
    flex-flow: column;
    padding: 2em 0.1em 1em 0.1em;
    z-index: 10;
  }
  @media (max-width: $break-sm) {
    top: 5.5em;
  }
}

.navBarMenu {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
